﻿@model ASPNET_CORE_MVC.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
 ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Price"></label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description"></label>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="textdanger"></span>
	</div>
	<div class="form-group">
		<label asp-for="CategoryId">Category</label>
		<select asp-for="CategoryId" asp-items="ViewBag.Categories"
				class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="ImageUrl">Product Image</label>
		<input type="file" asp-for="ImageUrl" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>