﻿@model IEnumerable<ASPNET_CORE_MVC.Models.Product>

<h2>Products</h2>

<p>
	<a asp-action="Add" class="btn btn-primary">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Category</th>
			<th>Image</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price</td>
				<td>@product.Description</td>
				<td>@product.Category?.Name</td>
				<td>
					@if (!string.IsNullOrEmpty(product.ImageUrl))
					{
						<img src="@product.ImageUrl" alt="Product Image" style="max-width: 100px;" />
					}
					else
					{
						<span>No Image</span>
					}
				</td>
				<td>
					<a asp-action="Display" asp-route-id="@product.Id">View</a> |
					<a asp-action="Update" asp-route-id="@product.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
